.img-width {
  width: 100%;
  object-fit: cover;
  filter: brightness(60%) contrast(110%);
}

.max-width {
  max-width: 600px;
}

.font-header-size {
  font-size: 40px;
}

.line-header {
  margin: auto;
  width: 380px;
  height: 6px;
  background-color: #FFC701;
  border-radius: 5px;
}

.display-button {
  display: none;
}

@media (max-width: 576px) {
  .font-header-size {
    font-size: 30px;
  }

  .line-header {
    width: 300px;
  }
}